#students-container {
    width: 70%;
    border: 1px solid black;
    margin: auto;
}

#student-form-container {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

#header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
}

.student-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#average-mark-container {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
